<footer class="footer-container">
    <div class="footer-info">
        <p class="footer-info-text"><strong>EasyBilling®</strong> All Rights Reserved.</p>
    </div>
    <div class="contact-info">
        <p>Contáctanos</p>
        <br>
        <p class="footer-text">📞 +57 3186574742</p>
        <p class="footer-text">📧 easy-billing@email.com</p>
        <p class="footer-text">📍 Ibagué, Colombia</p>
    </div>
    <div class="footer-questions">
        <img src=".\images\questions.png" alt="Imagen de preguntas" class="question-img">
        <p class="footer-text">Preguntas frecuentes</p>
    </div>
</footer>